:host {
  display: block;
  height: 100%;
}

h1, h2, p {
  text-align: center;
}

.c-public-beta {
  float: right;
  text-align: center;
  font-size: 14px;
  color: black;
  padding: 2px 10px;
  background: var(--orange);
  border-radius: 5px;
}

button:disabled {
  color: var(--grey);
}

button {
  border: 0;
  outline: 0;
}

.c-title {
  text-align: center;
}

.c-title-name {
  color: white;
  margin-bottom: 0;
}

.c-maintenance {
  margin-bottom: 60px;
  margin-top: 60px;
}

.c-form {
  width: 500px;
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 5px;

  input {
    flex-grow: 2;
    padding: 16px;
    border: none;
    border-radius: 5px;
  }

  input:focus {
    outline: none;
  }
}

.c-form-record {
  background-color: white;
}

@media (max-width: 414px) {
  .c-form {
    width: 338px;
  }

  .c-public-beta {
    font-size: 10px;
  }
}
