<chargegpt-header xmlns="http://www.w3.org/1999/html"></chargegpt-header>
<chargegpt-layout>
  <div class="c-title">
    <h1 class="c-title-name">ChargeGPT</h1>
    <div matTooltip="{{'record.disclaimer' | translate}}"
         class="c-public-beta"
         matTooltipClass="custom-tooltip">
      Public Beta
    </div>
  </div>

  <h2 class="c-maintenance">Upgrade ongoing. Please come again later.</h2>

  <div class="c-form c-form-record">
    <input matInput
           placeholder="I want to..." disabled>
    <button mat-icon-button disabled>
      <mat-icon matSuffix>mic</mat-icon>
    </button>
  </div>
</chargegpt-layout>

<chargegpt-footer></chargegpt-footer>
